* {
  margin: 0;
  padding: 0;
  /* color: #fff; */
}

.contenedor{
  padding-left: 15px;
  padding-right: 15px;
}

h2{
  color: #fff;
}

.btn-pais{
  /* border-color: #931f47; */
  border-color: #ffffffba;
  max-width: 30% !important;
  overflow-x: auto;
}

.btn-pais:hover{
  /* background-color: #931f47; */
  background-color: #ffffffba;
  color: #000;
}

.contenedor-paises{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}

.col-pais{
  width: calc(33.33%-20px);
}