html,
body {
    height: 100%;
    padding-top: 60px;
}

section {
    height: calc(90% - 50px);
}

.affix {
    padding: 0px;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
}

.affix-top {
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: padding 0.5s linear;
    -moz-transition: padding 0.5s linear;
    -o-transition: padding 0.5s linear;
    transition: padding 0.5s linear;
}

@media screen and (min-width: 768px) and (max-width: 1096px) {
    .nav.navbar-nav.navbar-right {
        margin-top: 10px;
    }
}


/* @media screen and (min-width: 768px) and (max-width: 1000px) {
    #navbar {
        display: none !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-toggle {
        display: block !important;
    }
} */